
Adrian Stoica <stoica@ntnu.no>
# Andrine
Andrine Heggelund <andrihe@stud.ntnu.no> Andrine Heggelund <andrihe@stud.ntnu.no>
Andrine Heggelund <andrihe@stud.ntnu.no> Andrine Heggelund <andrineheggelund@Andrines-MacBook-Air.local>
Andrine Heggelund <andrihe@stud.ntnu.no> Andrine Heggelund <andrineheggelund@dhcp-10-220-212-155.wlan.ntnu.no> 
Andrine Heggelund <andrihe@stud.ntnu.no> Andrine Heggelund <andrineheggelund@dhcp-10-220-215-90.wlan.ntnu.no>
Erlend Ellingbø Løvaas <erlenelo@stud.ntnu.no> Erlend EllingbÃ Løvaa <erlenelo@stud.ntnu.no>
Erlend Ellingbø Løvaas <erlenelo@stud.ntnu.no> Erlend Ellingbø Løvaas <erlenelo@stud.ntnu.no> 
Erlend Ellingbø Løvaas <erlenelo@stud.ntnu.no> Erlenelo <erlenelo@stud.ntnu.no>
Erlend Ellingbø Løvaas <erlenelo@stud.ntnu.no> erlenelo <erlenelo@ntnu.no> 
# Julia
Julia Evelin Stensnes-Martini <juliaest@stud.ntnu.no> Julia Evelin Stensnes-Martini <juliaest@stud.ntnu.no>
Julia Stensnes-Martini <juliaest@ntnu.no> Julia Evelin Stensnes-Martini <juliaest@stud.ntnu.no>
# Sofus
Sofus Emil Simonsen Øvretveit <seovretv@stud.ntnu.no> Sofus Emil Simonsen Øvretveit <seovretv@stud.ntnu.no>
Sofus Emil Simonsen Øvretveit <seovretv@stud.ntnu.no> Sofus Øvretveit <=>
Sofus Emil Simonsen Øvretveit <seovretv@stud.ntnu.no> Sofus Øvretveit <sofusoe@gmail.com>

