.button{
    -fx-background-color: LightBlue;
    -fx-border-color: gray; 
    -fx-border-radius: 5; 
    -fx-background-radius: 5;
}
.button:hover{
    -fx-background-color: rgb(142, 208, 230);
    -fx-background-radius: 3;
    -fx-border-color: rgb(103, 100, 100);
    -fx-border-radius: 3;
    -fx-border-width: 3;
}

#highlightedBrush{
    -fx-fill:lightgray;
    -fx-stroke:black;
    -fx-stroke-width: 2;
    
}

#clear:hover{
    -fx-fill:Black;
    -fx-stroke:gray;
    -fx-stroke-width:2
}
#brushClass:pressed{
    -fx-fill:Black;
    -fx-stroke:yellow;
    -fx-stroke-width:2
}



#toolPaneHighlight{
    -fx-border-color: black;
    -fx-border-radius:3;
    -fx-border-width: 1;
    -fx-background-color: lightgray;
}
#toolPane:hover{
    -fx-border-color: lightBlue;
    -fx-border-radius:5;
    -fx-border-width:2;

}
#toolPane:pressed{
    -fx-border-color: yellow;
    -fx-border-radius:5;
    -fx-border-width:3;
}

.image-view-wrapper:border {
    -fx-border-color: black;
    -fx-border-style: solid;
    -fx-border-width: 5;
}

